<p id="notice"><%= notice %></p>

<p>
  <strong>Recipient:</strong>
  <%= @letter_recipient.recipient %>
</p>

<p>
  <strong>Letter:</strong>
  <%= @letter_recipient.letter %>
</p>

<%= link_to 'Edit', edit_letter_recipient_path(@letter_recipient) %> |
<%= link_to 'Back', letter_recipients_path %>
