<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @recipient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @recipient.last_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipient.description %>
</p>

<p>
  <strong>Born:</strong>
  <%= @recipient.born %>
</p>

<p>
  <strong>Died:</strong>
  <%= @recipient.died %>
</p>

<p>
  <strong>Website:</strong>
  <%= @recipient.website %>
</p>

<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
