<article class="event__container">
  <h2 class="h1"><%= event.title %></h2>
  <h3 class="h2"><time><%= event.from_until %></time>, <%= event.address %></h3>
  <%= event.description %>
  <% unless event.eventbrite.empty? %>
    <p><%= link_to "Book a place on Eventbrite", event.eventbrite %></p>
  <% end %>
  <% unless event.facebook.empty? %>
    <p><%= link_to "Sign up on Facebook", event.facebook %></p>
  <% end %>
</article>
