<article class="event__container">
  <h2 class="h1"><%= event.title %></h2>
  <h3 class="h2"><time><%= event.from_until %></time>, <%= event.address rescue "" %></h3>
  <%= event.description %>
  <% if event.eventbrite && event.eventbrite.length > 0 %>
    <p><%= link_to "Book a place on Eventbrite", event.eventbrite %></p>
  <% end %>
  <% if event.facebook && event.facebook.length > 0 %>
    <p><%= link_to "Sign up on Facebook", event.facebook %></p>
  <% end %>
</article>
