<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @event.finish %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @event.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @event.street2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @event.postcode %>
</p>

<p>
  <strong>Eventbrite:</strong>
  <%= @event.eventbrite %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @event.facebook %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
