<p id="notice"><%= notice %></p>

<h1>Letter Authors</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Letter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @letter_authors.each do |letter_author| %>
      <tr>
        <td><%= letter_author.author %></td>
        <td><%= letter_author.letter %></td>
        <td><%= link_to 'Show', letter_author %></td>
        <td><%= link_to 'Edit', edit_letter_author_path(letter_author) %></td>
        <td><%= link_to 'Destroy', letter_author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Letter Author', new_letter_author_path %>
