<% provide(:title, "Letters to your heroines") %>
<div class="grid">
  <div class="grid__content">
    <% @letters.each do |letter| %>
      <div class="letters">
        <hr class="squiggle squiggle--2">
        <h2 class="h2 letters__title">
          Dear <%= link_to letter, class: "no-underline" do %><%= letter.recipients_pp.html_safe %>.<% end %>
        </h2>
        <p class="h3 letters__meta">
          Published <%= letter.published_pp %><br>
          From <%= letter.authors_pp %>
        </p>
        <%= link_to letter do %>
          <%= image_tag letter.preview, alt: "Letter to {{recipient}} from #{letter.authors_pp}" %>
        <% end %>
        <p>
          <%= link_to "Read on", letter, class: "letters__more" %>
        </p>
      </div>
    <% end %>
    <br>
    <hr class="squiggle squiggle--2">
    <br>
    <%= will_paginate @letters, class: "digg_pagination" %>
  </div>
  <div class="grid__aside">
    <%= render "layouts/social" %>
  </div>
</div>
