<% provide(:title, "Letters") %>
<div class="grid">
  <div class="grid__content">
    <% @letters.each do |letter| %>
      <div class="letters">
        <hr class="squiggle squiggle--2">
        <h2 class="h2 letters__title">Dear
          <%= link_to letter, class: "no-underline" do %>
            <strong><%= letter.recipients.first.name %></strong>,
            <%= letter.recipients.first.description %>.
          <% end %>
        </h2>
        <p class="h3 letters__meta">
          Published <%= letter.published %><br>
          From <%= letter.authors.first.name %>
        </p>
        <%= link_to letter do %>
          <%= image_tag letter.preview, alt: "Letter to {{recipient}} from #{letter.authors.first}" %>
        <% end %>
        <p>
          <%= link_to "Read on", letter, class: "letters__more" %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="grid__aside">
    <%= render "layouts/social" %>
  </div>
</div>
