<% provide(:meta_title, "A letter to #{@recipients.first.name}, #{@recipients.first.description}. From #{@letter.authors.first.name}") %>
<% provide(:title, "To <strong>#{@recipients.first.name}</strong>, #{@recipients.first.description}. From <strong>#{@letter.authors.first.name}</strong>".html_safe) %>
<% if @letter.scans %>
  <% provide(:meta_image, @letter.scans.first) %>
<% end %>

<div class="grid">
  <div class="grid__content">
    <hr class="squiggle squiggle--4">
    <article class="letter container">
      <div class="letter__scan">
        <div id="js-lightgallery">
          <% @letter.scans.each do |scan| %>
            <a href="#{scan}">
              <%= image_tag scan, alt: "Scan of a letter to #{@recipients.first.name}, #{@recipients.first.description}. From #{@letter.authors.first.name}", class: "letter__image" %>
            </a>
          <% end %>
        </div>
      </div>
      <h2>Transcript</h2>
      <div class="letter__transcription">
        <%= markdown @letter.content %>
      </div>
    </article>
  </div>
  <div class="grid__aside">
    <div class="letter__meta">
      <hr class="squiggle squiggle--6">
      <h2>About <%= @recipients.first.name %></h2>
      <p class="letter__description">
        <%= @recipients.first.description %>.
        <% if @recipients.first.born %>
          Born <%= @recipients.first.born.year %>
          <% if @recipients.first.died %>
          , died <%= @recipients.first.died.year %>
          <% end %>
          .
        <% end %>
        <% if @recipients.first.website %>
          <%= link_to "More information about #{@recipients.first.name}", @recipients.first.website %>.
        <% end %>
      </p>
      <p>
        Received <%= @letter.recieved_pp %>.</br>
        Published <%= @letter.published_pp %>.
      </p>
    </div>
  </div>
</div>
<p>
  <%= link_to 'Back to Letters', letters_path %>
</p>
