<h1 class="page-title">To <strong><%= @recipients.first.name %></strong>, <%= @recipients.first.description %>. From <strong><%= @letter.authors.first.name %></strong>.</h1>
<div class="grid">
  <div class="grid__content">
    <hr class="squiggle squiggle--4">
    <article class="letter container">
      <div class="letter__scan">
        <div id="js-lightgallery">
          <% @letter.scans.each do |scan| %>
            <a href="#{scan}">
              <%= image_tag scan, alt: "Scan of the letter" %>
            </a>
          <% end %>
        </div>
      </div>
      <h2>Transcript</h2>
      <div class="letter__transcription">
        <%= @letter.content %>
      </div>
    </article>
  </div>
  <div class="grid__aside">
    <div class="letter__meta">
      <hr class="squiggle squiggle--6">
      <h2>About <%= @recipients.first.name %></h2>
      <p class="letter__description">
        <%= @recipients.first.description %>.
        <% if @recipients.first.born %>
          Born <%= @recipients.first.born %>
          <% if @recipients.first.died %>
          , died <%= @recipients.first.died %>
          <% end %>
          .
        <% end %>
        <% if @recipients.first.website %>
          <%= link_to "More information about #{@recipients.first.name}", @recipients.first.website %>.
        <% end %>
      </p>
      <p>
        Received <%= @letter.recieved %>.</br>
        Published <%= @letter.published %>.
      </p>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>
